#wrapper-footer-full {
  background: $canes-green-alternate;
  a {
    color: $body-color;
  }
}

#wrapper-footer {
  background: $gray-700;
  .widget_nav_menu {
    ul.menu {
      list-style: none;
      padding-left: 0;
      a {
        color: $white;
        text-decoration: none;
        &:focus, &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .metaslider {
    margin-bottom: $spacer * 2 !important;
    img {
      filter: grayscale(1);
      &:focus, &:hover {
        filter: none;
      }
    }
    .flexslider {
      .flex-direction-nav {
        li {
          a {
            margin-top: -15px;
            background-image: url('../img/bg_direction_nav.png');
          }
        }
      }
    }
  }
}
