// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$white: #fff;

//$canes-green: #1D7339;
$canes-green: #006951;
$canes-green-alternate: #006A52;
$canes-gray: #0a1813;
$canes-orange: #ed7921;

$primary: $canes-green;  // Once we've changed the value, we'll also make it the primary brand color.
$secondary: $canes-orange;
$gray-700: #172723;
$gray-900: $canes-gray;

$body-bg: $canes-gray;
$body-color: $white;

$font-family-sans-serif:
  // Custom Canes Font
  Montserrat,
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // older macOS and iOS
  "Helvetica Neue",
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Basic web fallback
  Arial,
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 900;

$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($white, .55);

$dropdown-padding-y: 0;
$dropdown-bg: transparent;
$dropdown-link-color: $primary;
$dropdown-link-bg: $white;

$border-radius: 0;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $secondary;

$dropdown-link-active-color: $dropdown-link-hover-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;