// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


//$canes-green: #1D7339;
$canes-green: #006951;
$canes-gray: #0a1813;
$canes-orange: #ed7921;

$primary: $canes-green;  // Once we've changed the value, we'll also make it the primary brand color.
$secondary: $canes-orange;
$gray-900: $canes-gray;
